




<head>

  <title>Sign Up</title>


</head>


<div class="container signup-container">
  <form [formGroup]="userForm" class="signup-form">
    <h2 class="signup-heading">Sign Up</h2>
    <div class="form-group">
      <input formControlName="name" type="text" class="form-control" id="fullName" placeholder="Full Name" required>
    </div>
    <div class="form-group">
      <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email address" required>
    </div>
    <div class="form-group">
      <input formControlName="phoneNumber" type="email" class="form-control" id="Phone Number" placeholder="Phone Number" required>
    </div>
    <div class="form-group">
      <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password" required>
    </div>
    <button (click)="submit()" [disabled]="userForm.invalid" type="submit" class="btn btn-block">Sign Up</button>
  </form>
</div>







<app-alert [displayBasic]="displayBasic"></app-alert>



