
<head>

  <title>Login</title>


  <style>
    body {
      background-color: #f8f9fa;
    }
    .login-container {
      max-width: 400px;
      margin: 100px auto;
    }
  </style>
</head>

  <div class="container login-container">
    <div class="card">
      <div class="card-header">
        Login
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" >
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" >
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
      </div>
    </div>
  </div>


  <head>

    <title>Sign Up</title>

    <style>
      body {
        background-color: #f8f9fa;
      }
      .signup-container {
        max-width: 400px;
        margin: 100px auto;
      }
    </style>
  </head>

    <div class="container signup-container">
      <div class="card">
        <div class="card-header">
          Sign Up
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="usernfsdfame" class="form-control" >
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" class="form-control" >
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="passwfsdford" class="form-control" >
            </div>
            <button  (click)="submit()" >Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  

<app-alert [displayBasic]="displayBasic"></app-alert>
  


