




<head>

  <title>Sign Up</title>


</head>


<div class="container signup-container">
  <form class="signup-form">
    <h2 class="signup-heading">Sign Up</h2>
    <div class="form-group">
      <input type="text" class="form-control" id="fullName" placeholder="Full Name" required>
    </div>
    <div class="form-group">
      <input type="email" class="form-control" id="email" placeholder="Email address" required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="password" placeholder="Password" required>
    </div>
    <button (click)="submit()" type="submit" class="btn btn-block">Sign Up</button>
  </form>
</div>







<app-alert [displayBasic]="displayBasic"></app-alert>



